* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

footer {
    padding: 20px 0;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #252B42;
}

nav ul li a:hover {
    color: #FA4A0C;
}